<div id="pageEpisodes" class="page" ng-controller="episodeCtrl">
  <div id="listen-links">
    <a href="https://itunes.apple.com/us/podcast/the-casual-academic/id1094830669?mt=2" target="_blank">iTunes</a>
    <a href="http://www.stitcher.com/podcast/the-casual-academic-2/the-casual-academic" target="_blank">Stitcher</a>
    <a href="http://tunein.com/radio/The-Casual-Academic-p880368/" target="_blank">Tune-In Radio</a>
    <a href="https://soundcloud.com/thecasualacademic" target="_blank">Soundcloud</a>
  </div>
  <div id="soundcloud-player" ng-bind-html="embed"></div>
  <div id ="listen-episodes">
    <div class="shadow episode-list">
      <div class="episode-list-header">Full Episodes</div>
      <div ng-repeat="item in episodes">
        <div><span class="play-button" ng-click="play(item.soundcloud)">&#9658</span> Episode {{item.episode}} - {{item.title}}</div>
      </div>
    </div>
  </div>
</div>
