<div id="pageEpisodes" class="page" ng-controller="episodesCtrl">
  <div id="listen-links">
    <a href="https://itunes.apple.com/us/podcast/the-casual-academic/id1094830669?mt=2" target="_blank">iTunes</a>
    <a href="http://www.stitcher.com/podcast/the-casual-academic-2/the-casual-academic" target="_blank">Stitcher</a>
    <a href="http://tunein.com/radio/The-Casual-Academic-p880368/" target="_blank">Tune-In Radio</a>
    <a href="https://soundcloud.com/thecasualacademic" target="_blank">Soundcloud</a>
  </div>
  <div id="soundcloud-player" ng-bind-html="embed"></div>
  <div id="soundcloud-close" ng-show="embed">
    <span ng-click="close()">close</span>
  </div>
  <div id="episode-list">
    <div ng-repeat="item in episodes | orderBy:'-'" class="episode">
        <img ng-src="/images/{{item.cover_image}}" class="episode-bookcover shadow" />
        <div class="episode-info">
          <div class="episode-topline">
            <a ng-href="#/episodes/{{item.podcast.soundcloud}}"><span class="play-button">&#9658;</span></a>
            <span class="episode-number">Episode {{item.podcast.episode}}</span>
          </div>
          <div class="episode-title">{{item.podcast.title}}</div>
        </div>
    </div>
  </div>
  <div id="aside-list">
    <div ng-repeat="item in asides" class="aside">
      <div class="aside-topline" ng-click="play(item.soundcloud)">
        <span class="aside-play">&#9658;</span>
        <span class="aside-number">Aside {{item.episode}}</span>
      </div>
      <div class="aside-title">{{item.title}}</div>
    </div>
  </div>
</div>
