<div ng-controller="homeCtrl" id="page-home" class="page">
  <div id="banner">
    <div class="typewriter">
      <h1 ng-style="bannerStyle">The Casual Academic</h1>
    </div>
  </div>
  <div id="bookshelf">
    <div ng-repeat="item in data" ng-click="choose(item)" ng-class="{selected: item.cover_image === book.cover_image}">
      <img ng-src="/images/{{item.cover_image}}"  class="book-cover shadow-light">
    </div>
  </div>
  <div class="book-info">
    <div ng-show="book.has_podcast" class="book-option red-hov" ng-click="listen(book)"><u>Listen:</u> {{book.podcast.title}}</div>
    <div ng-show="book.has_review" class="book-option red-hov" ng-click="read(book)"><u>Read:</u> {{book.review.title}}</div>
  </div>
  <div id="featured-review">
    <div id="featured-info">
      <div id="featured-title" class="red-hov" ng-click="read(featured)">FEATURED REVIEW: {{featured.review.title}} by {{featured.review.reviewer}}</div>
      <hr>
      <img ng-src="/images/{{featured.review.image}}" class="shadow"/>
      <div id="featured-teaser">{{featured.review.teaser}}...<a href="#/reviews/{{featured.review.template}}">(read more)</a></div>
    </div>
  </div>
  <div id="upcoming">
    <div id="upcoming-banner">Up Next in December:</div>
    <a href="https://en.wikipedia.org/wiki/Season_of_Migration_to_the_North" target="_blank"><img src="./images/season_of_migration_to_the_north.jpeg" class="shadow"/></a>
    <a href="https://en.wikipedia.org/wiki/The_Rings_of_Saturn" target="_blank"><img src="./images/the_rings_of_saturn.jpg" class="shadow"/></a>
  </div>
</div>
