<!DOCTYPE html>
<html>
	<head>
		<title>The Casual Academic</title>
		<meta name="description" content="In-depth literary discussion without the pretence. Just good books.">
		<meta name="Keywords" content="the casual academic, book podcasts, literary podcasts, literature podcasts, fiction, academic, literary criticism, literature, books, podcast, literary articles, literary reviews, novels, vocabulary"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   		<meta name="viewport" content="width=device-width, initial-scale=1">
		<base href="/">

		<!-- Open Graph tags to customize link previews -->
		<meta property="og:url"           content="http://www.thecasualacademic.com" />
		<meta property="og:type"          content="website" />
		<meta property="og:title"         content="The Casual Academic" />
		<meta property="og:description"   content="In-depth literary discussion without the pretence. Just good books." />
		<meta property="og:image"         content="http://thecasualacademic.com/images/casual_academic_link_image.jpg" />

		<link rel="icon" type="image/png" sizes="96x96" href="/favicon.png">
		<link href="https://fonts.googleapis.com/css?family=Josefin+Slab:400,700|Lora:400,700|Great+Vibes" rel="stylesheet">
		<link rel='stylesheet' href="bower_components/angular-socialshare/angular-socialshare.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link rel="stylesheet" href="style.css">
	</head>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-animate.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="bower_components/angular-socialshare/angular-socialshare.min.js"></script>
	<script src="app.js"></script>
	<body ng-app="myApp">
		<nav class="navbar navbar-inverse navbar-fixed-bottom">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">The Casual Academic</a>
				</div>
				<div class="collapse navbar-collapse" id="navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li id="social-media-links">
							<a href="https://www.facebook.com/thecasualacademic/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							<a href="https://twitter.com/casualacademic" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							<a href="https://soundcloud.com/thecasualacademic" target="_blank"><i class="fa fa-soundcloud" aria-hidden="true"></i></a>
							<a href="http://feeds.feedburner.com/TheCasualAcademic" target="_blank"><i class="fa fa-rss" aria-hidden="true"></i></a>
							<a href="https://www.instagram.com/thecasualacademic/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/episodes">Episodes</a></li>
						<li><a href="/reviews">Articles</a></li>
						<li><a href="/about">About</a></li>
					</ul
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
		<div ng-view class="view-frame"></div>
		<div ng-controller="playerCtrl" id="podcast-player" ng-class="{'minimized': minimized}">
			<div>
				<a ng-if="embed" ng-click="minimize()">Show / Hide</a>
				<a ng-if="embed" ng-click="close()">Close Player</a>
			</div>
			<div ng-bind-html="embed"></div>
		</div>
	</body>
</html>
