<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>The Casual Academic</title>
		<meta name="description" content="We are here to laugh at the odds and live our lives so well that Death will tremble to take us.">
		<meta name="Keywords" content="the casual academic, literature, books, podcast, literary articles, literary reviews, novels, vocabulary"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<base href="/">

		<!-- Open Graph tags to customize link previews -->
		<meta property="og:url"           content="http://www.thecasualacademic.com" />
		<meta property="og:type"          content="website" />
		<meta property="og:title"         content="The Casual Academic" />
		<meta property="og:description"   content="Connecting the academic with the everyday" />
		<meta property="og:image"         content="http://thecasualacademic.com/images/havana_notebook.png" />

		<link rel="icon" type="image/png" sizes="96x96" href="/favicon.png">
		<link href="https://fonts.googleapis.com/css?family=Josefin+Slab:400,700|Lora:400,700" rel="stylesheet">
		<link rel='stylesheet' href="bower_components/angular-socialshare/angular-socialshare.min.css">
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-animate.js"></script>
	<script src="bower_components/angular-socialshare/angular-socialshare.min.js"></script>
	<script src="app.js"></script>
	<body ng-app="myApp">
		<div id="navbar">
			<div id="navbar-left">
				<a href="/">The Casual Academic</a>
			</div>
			<div id="navbar-icons">
				<a href="https://www.facebook.com/thecasualacademic/" target="_blank"><img src="./images/icons/facebook.svg"/></a>
				<a href="https://twitter.com/casualacademic" target="_blank"><img src="./images/icons/twitter.svg"/></a>
				<a href="https://soundcloud.com/thecasualacademic" target="_blank"><img src="./images/icons/soundcloud.svg"/></a>
				<a href="http://feeds.feedburner.com/TheCasualAcademic" target="_blank"><img src="./images/icons/rss.svg"/></a>
				<a href="https://www.instagram.com/thecasualacademic/" target="_blank"><img src="./images/icons/instagram.svg"/></a>
			</div>
			<div id="navbar-right">
				<a href="/episodes">Episodes</a>
				<a href="/reviews">Reviews</a>
				<a href="/about">About</a>
			</div>
		</div>
		<div ng-view class="view-frame"></div>
		<div ng-controller="playerCtrl" id="podcast-player" ng-class="{'minimized': minimized}">
			<div>
				<a ng-if="embed" ng-click="minimize()">Show / Hide</a>
				<a ng-if="embed" ng-click="close()">Close Player</a>
			</div>
			<div ng-bind-html="embed"></div>
		</div>
	</body>
</html>
