<div id="page-reviews" class="page" ng-controller="reviewsCtrl">
  <div class="black-line"></div>
  <div id="reviews-list">
    <div ng-repeat="item in reviews" class="review-entry pointer" ng-click="read(item)">
        <div class="review-header shadow">
          <div class="review-header-left">
            <h2>{{item.review.title}}</h2>
            <h5>by {{item.review.reviewer}}</h5>
            <p>{{item.review.teaser}} <a>(read more...)</a></p>
          </div>
          <div class="review-header-right">
            <img class="shadow" src="/images/{{item.review.image}}"/>
          </div>
        </div>
    </div>
  </div>
</div>
