<img id="page-episodes-image" src="./images/podcast_page.jpg" />
<div id="page-episodes" class="page" ng-controller="reviewsCtrl">
  <div id="episode-list">
    <div ng-repeat="item in reviews | orderBy:'-'" class="episode">
        <img ng-src="/images/{{item.cover_image}}" class="episode-bookcover shadow" />
        <div class="episode-info">
          <div class="episode-title white-highlight shadow-lighter" ng-click="read(item)">{{item.review.title}}</div>
          <div class="episode-hosts white-highlight shadow-lighter">by {{item.review.author}} ({{item.created_at_date | date : "mediumDate"}})</div>
          <div class="episode-hosts white-highlight shadow-lighter">{{item.review.teaser}}</div>
        </div>
    </div>
  </div>
</div>
