<div id="page-review" class="page" scrollpercent ng-controller="reviewCtrl">
  <div id="review-facebook"><a facebook-feed-share class="facebookShare" data-url="{{url}}" data-shares='shares', data-description="{{review.teaser}}" data-picture="{{review.image}}" data-name="{{review.title}}">{{ shares }}</a></div>
  <div style="width: 100%;height: 10px;"></div>

  <span id="percentage" class="reading-text">0%</span>

  <div id="review-header" class="review-header shadow">
    <div class="review-header-left">
      <h2>{{review.title}}</h2>
      <h5>by {{review.reviewer}}</h5>
    </div>
    <div class="review-header-right">
      <img src="/images/{{review.image}}"/>
    </div>
  </div>

  <div ng-if="template" id="review-text" class="reading-text">
    <ng-include src="template"></ng-include>
  </div>
  <div id="review-footer" class="review-footer shadow" ng-if="review.footer">
      <a>"{{review.footer_title}}</a>
      <a ng-href="{{review.footer}}">Listen Here</a>
    </div>

</div>
