body {
	margin: 0;
	font-family: Lora;
}


/* Atomic Class */
/* ************************************************************************** */
.page {
	padding-bottom: 80px;
}

.red-hov {
	transition: color 1s ease;
	color: black;
}

.red-hov:hover {
	color: red;
}

.center {
	text-align: center;
}

.pointer {
	cursor: pointer;
}

.shadow {
	-webkit-box-shadow: 7px 7px 21px 5px rgba(0,0,0,0.75);
	-moz-box-shadow: 7px 7px 21px 5px rgba(0,0,0,0.75);
	box-shadow: 7px 7px 21px 5px rgba(0,0,0,0.75);
}

.shadow-light {
	-webkit-box-shadow: 7px 7px 11px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 7px 7px 11px 2px rgba(0,0,0,0.75);
	box-shadow: 7px 7px 11px 2px rgba(0,0,0,0.75);
}

.shadow-lighter {
	-webkit-box-shadow: 7px 7px 11px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 7px 7px 11px -5px rgba(0,0,0,0.75);
	box-shadow: 7px 7px 11px -5px rgba(0,0,0,0.75);
}


/* ************************************************************************** */


/* Navbar */
/* ************************************************************************** */
#navbar {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 5;
	background-color: #353535;
	color: white;
	width: 100%;
	min-width: 700px;
	font-family: 'Josefin Slab', serif;
	padding: 15px 0;
	font-size: 20px;
  letter-spacing: 1px;
}

#navbar a {
	text-decoration: none;
	color: #f0eeee;
}

#navbar-left {
	display: inline-block;
	margin-left: 20px;
}

#navbar-icons {
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin-left: 20px;
}

#navbar-icons img {
	height: 42px;
}

#navbar-right {
	display: inline-block;
	float: right;
	margin-right: 20px;
}

#navbar-right a {
	padding: 0 12px;
}
/* ************************************************************************** */


/* Typewriter */
/* ************************************************************************** */
#banner {
	position: fixed;
  top: 0;
  left: 0;
	width: 100%;
	z-index: -1;
	background-image: url('images/banner.jpg');
	font-family: 'Josefin Slab', serif;
}

.typewriter {
	width: 100%;
}

.typewriter h1 {
	transition: text-align 3 ease-out;
	text-align: center;
	overflow: hidden;
	border-right: .15em solid black;
	white-space: nowrap;
	margin: 0 0;
	letter-spacing: .1em;
	font-weight: 100;
	width: 100%;
	padding: 40px 0 40px 13px;
	color: white;
	font-weight: 700;
	/*background-color: rgba(255, 255, 255, 0.60);*/
	font-size: 7em;
  animation:
    typing 7.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@media (max-width: 1270px) {
	.typewriter h1 {
		font-size: 6em;
	}
}

@media (max-width: 1100px) {
	.typewriter h1 {
		font-size: 5em;
	}
}
/* ************************************************************************** */


/* Home Page */
/* ************************************************************************** */
#page-home {
	text-align: center;
}

#bookshelf {
	text-align: center;
	vertical-align: bottom;
	margin-top: 195px;
	height: 367px;
	overflow-y: hidden;
	background: white;
}

#bookshelf div {
	padding-bottom: 20px;
	display: inline-block;
	margin: 25px;
}

.book-cover {
	height: 320px;
  cursor: pointer;
  z-index: 1;
  border-bottom: 4px solid rgb(123, 123, 123);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-bottom: 20px;
}

.selected .book-cover {
	-webkit-box-shadow: 7px 7px 11px 2px rgba(0, 24, 109, 0.75);
	-moz-box-shadow: 7px 7px 11px 2px rgba(0, 24, 109, 0.75);
	box-shadow: 7px 7px 11px 2px rgba(0, 24, 109, 0.75);
}

.book-cover.shadow {
	z-index: 2;
	position: relative;
}

.book-info {
	background: white;
}

.book-option {
	padding: 20px;
	font-size: 32px;
	font-family: 'Josefin Slab';
	letter-spacing: 1px;
	cursor: pointer;
	display: inline-block;
	color: black;
}

#featured-review {
	background: rgb(216, 216, 216);
	padding: 80px 40px;
}

#featured-review img {
	width: 30%;
	margin-right: 5%;
}

#featured-info {
	display: inline-block;
	width: 50%;
	vertical-align: top;
	background: rgba(255, 255, 255, 0.8);
	cursor: pointer;
}

#featured-info:hover #featured-title{
	color: red;
}

#featured-header {
	margin-top: 10px;
}

#featured-title {
	font-size: 34px;
  font-family: 'Josefin Slab';
  padding: 20px;
	transition: color 1s ease;
}

#featured-teaser {
	vertical-align: top;
	line-height: 33px;
	padding: 30px;
	text-align: left;
}

#featured-teaser a {
	padding: 0 10px;
}

#upcoming img {
  height: 300px;
	margin: 40px;
}

#upcoming-banner {
  font-size: 3em;
  font-family: 'Josefin Slab';
	text-decoration: underline;
	padding-top: 25px;
	background: white;
}
/* ************************************************************************** */


/* Review Page */
/* ************************************************************************** */
#page-review {
	background: #f8f8f8;
}

#review-facebook {
	position: fixed;
	padding: 10px 0 0 10px;
}

#percentage {
	position: fixed;
	right: 10px;
	top: 10px;
	font-size: 20px;
	letter-spacing: 2px;
	font-weight: bold;
}

#review-header {
	margin: 40px;
	background: white;
	padding: 20px;
	font-family: 'Josefin Slab', serif;
	letter-spacing: 2px;
}

#review-header-left {
	display: inline-block;
	vertical-align: top;
	width: 40%;
	padding-left: 10%;
	padding-top: 120px;
	font-size: 2em;
}

#review-header-left h2, #review-header-left h5 {
	margin: 0;
}

#review-header-right {
	display: inline-block;
	width: 40%;
  text-align: right;
}

#review-header-right img {
	max-height: 330px;
}

#review-text {
	width: 50%;
	margin: 0 auto;
	margin-top: 70px;
	line-height: 33px;
	font-size: 1.1em;
	color: rgba(0, 0, 0, 0.85);
}

#review-text blockquote {
	font-style: italic;
}
/* ************************************************************************** */


/* Podcasts Page */
/* ************************************************************************** */
#page-episodes-image {
  position: fixed;
	top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

#page-episodes {
	font-family: 'Josefin Slab', serif;
  text-align: center;
  width: 100%;
}

#listen-links {
	background-color: #353535;
	padding: 24px;
	border-bottom: 3px solid #ff5500;
	text-align: center;
	position: fixed;
	width: 100%;
	min-width: 700px;
	top: 0;
}

#listen-links a {
	transition: color 0.7s ease;
	text-decoration: none;
	margin: 0 20px;
	font-size: 26px;
	letter-spacing: 3px;
	color: #e0e0d8;
}

#listen-links a:hover {
	color: #ff5500;
}

#soundcloud-player {
	margin-top: 80px;
}

#soundcloud-close {
	text-align: center;
}

#soundcloud-close span {
	background: #d64d4d;
	padding: 1px 10px;
	font-size: 14px;
	color: #fde6e6;
	letter-spacing: 3px;
	border-radius: 3px;
	cursor: pointer;
}

#episode-list {
	width: 80%;
	min-width: 650px;
	margin-top: 20px;
	display: inline-block;
}

.white-highlight {
	padding: 5px 8px;
	background: rgba(255, 255, 255, 0.96);
}

.episode {
	margin-bottom: 20px;
}

.episode-bookcover {
	height: 300px;
}

.episode-topline {
	font-size: 28px;
	display: inline-block;
	cursor: pointer;
	transition: color 0.7s ease;
}

.play-button {
	padding-right: 5px;
	transition: color 1.2s ease;
}

.more-info {
	max-width: 0px;
  max-height: 28px;
  display: inline-block;
  vertical-align: bottom;
  overflow: hidden;
  transition: all 1.2s linear;
}

.episode-topline:hover .play-button {
	color: #ff5500;
}

.episode-topline:hover .more-info {
	max-width: 999px;
}

.episode-info {
	display: inline-block;
	vertical-align: top;
	margin-left: 3%;
	text-align: left;
	padding: 30px;
	width: 60%;
}

.episode-title {
  margin-top: 20px;
  font-size: 28px;
  letter-spacing: 1px;
	line-height: 40px;
}

.episode-hosts {
	margin-top: 20px;
	font-size: 20px;
	letter-spacing: 1px;
	display: inline-block;
}
/* ************************************************************************** */


/* Single Podcast Page */
/* ************************************************************************** */
#single-episode {
	font-family: 'Josefin Slab', serif;
}

#single-episode-facebook .facebookShare {
	font-size: initial;
	float: right;
}

#single-episode-info {
  width: 50%;
	padding: 3% 3% 0 6%;
  margin-right: 8%;
  display: inline-block;
  vertical-align: top;
  font-size: 44px;
}

#single-episode-number {
  text-decoration: underline;
  margin-bottom: 30px;
}

#single-episode-hosts {
  margin-top: 30px;
  font-size: 24px;
}

#single-episode img.shadow {
	width: 25%;
	margin-top: 3%;
	margin-bottom: 100px;
}

#single-episode-further-reading div {
	margin-top: 60px;
  margin-bottom: 12px;
  font-size: 24px;
  text-decoration: underline;
}

#single-episode-further-reading ul {
	margin-top: 0;
}

#single-episode-further-reading li {
	font-size: 15px;
	font-family: Lora;
	padding: 10px;
}
/* ************************************************************************** */


/* About Page */
/* ************************************************************************** */
#about-page {
	background: #e3dee7;
}

#about-background {
	width: 100%;
}

#about-page h1 {
	text-align: center;
	background: #1a1f4d;
	color: white;
	font-family: 'Josefin Slab';
	margin: 0;
	padding: 20px;
	font-size: 46px;
	letter-spacing: 3px;
}

.about-blocks {
  background: #e3dee7;
  padding: 2% 10%;
  line-height: 50px;
  font-size: 20px;
  letter-spacing: 1px;
  margin-top: -5px;
}

.about-blocks .about-name {
	font-family: 'Josefin Slab';
  text-decoration: underline;
  font-size: 40px;
  letter-spacing: 2px;
}

.about-blocks span {
	font-weight: 700;
}

.about-name {

}

.about-desc {

}


/* Angular Class Animations */
/* ************************************************************************** */
/*.ng-hide-add {
	animation: 0.5s lightSpeedOut ease;
}

.ng-hide-remove {
	animation: 1s flipInY ease;
}*/
/* ************************************************************************** */


/* CSS Animations */
/* ************************************************************************** */

/* flip in */
@keyframes flipInY {
  0% {
		transform: perspective(400px) rotateY(90deg);
		opacity: 0;
  }

  100% {
		transform: perspective(400px) rotateY(0deg);
		opacity: 1;
  }
}

/* light speed out */
@keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }

  100% {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}
