body {
	margin: 0;
	font-family: Lora;
}

.page {
	padding-bottom: 80px;
}

#navbar {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 5;
	background-color: #353535;
	color: white;
	width: 100%;
	padding: 15px 0;
  font-size: 17px;
	font-family: 'Josefin Slab', serif;
	border-top: 2px solid rgb(105, 105, 105);
}

#navbar a {
	text-decoration: none;
	color: #f0eeee;
}

#navbar-left {
	display: inline-block;
	margin-left: 20px;
}

#navbar-right {
	display: inline-block;
	float: right;
	margin-right: 20px;
}

#navbar-right a {
	padding: 0 12px;
}

#page-home {
	background-color: #f4f4f4;
}

#banner {
	width: 100%;
	z-index: -1;
	background-image: url(images/banner.jpg);
	font-family: 'Josefin Slab', serif;
}

.typewriter {
	width: 100%;
	padding-top: 100px;
}

.typewriter h1 {
	overflow: hidden;
	border-right: .15em solid black;
	white-space: nowrap;
	margin: 0 0;
	letter-spacing: .2em;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 13px;
	background-color: rgba(255, 255, 255, 0.60);
	font-size: 58px;
  animation:
    typing 7.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

#bookshelf {
  text-align: center;
	padding: 60px 0;
}

#bookshelf .book {
	display: inline-block;
	position: relative;
	height: 400px;
	margin: 0 30px;
	font-size: 12px;
	text-align: left;
}

#bookshelf .bookcover {
	max-width: 100%;
	max-height: 100%;
}

.flipside {
	position: absolute;
	width: 100%;
	padding: 2px;
	background: rgba(244, 241, 228, 0.93);
	min-height: 400px;
}

.book-author {
    text-align: center;
    font-size: 26px;
    font-family: "Josefin Slab";
    padding: 20px 0;
}

.book-option {
    padding: 10px;
    font-size: 16px;
		cursor: pointer;
}

.book-option .book-option-header {
	margin-bottom: 10px;
	text-decoration: underline;
}

.book-option .book-option-title {
	font-style: italic;
}

.book-liner {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 14px;
}

#home-links {
	text-align: center;
	font-size: 20px;
}

#home-links a {
	margin: 0 4%;
  text-decoration: underline;
	cursor: pointer;
	font-family: 'Josefin Slab';
  color: black;
  letter-spacing: 1px;
}

#about {
	font-size: 20px;
	font-size: 20px;
  padding: 50px 15%;
  line-height: 37px;
  background-color: beige;
  margin-top: 50px;
  margin-bottom: 100px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

#events {
  text-align: center;
	font-family: 'Josefin Slab', serif;
}

#events h1 {
	margin-bottom: 50px;
	font-size: 49px;
}

#events .event {
  display: inline-block;
  width: 21%;
  margin: 0 7%;
  text-align: left;
  vertical-align: top;
}

#events .event-date {
	text-decoration: underline;
  font-size: 1.8em;
  margin-bottom: 5px;
	letter-spacing: 2px;
	text-align: center;
}

#events .event-cover {
    height: 400px;
    text-align: center;
}

#events .event-cover img {
  max-width: 100%;
  max-height: 100%;
}





#pageReview {
	background: #f8f8f8;
}

#percentage {
	position: fixed;
	right: 10px;
	top: 10px;
	font-size: 20px;
	letter-spacing: 2px;
	font-weight: bold;
}

#review-header {
	margin: 40px;
	background: white;
	padding: 20px;
	font-family: 'Josefin Slab', serif;
	letter-spacing: 2px;
}

#review-header-left {
	display: inline-block;
	vertical-align: top;
	width: 40%;
	padding-left: 10%;
	padding-top: 120px;
	font-size: 2em;
}

#review-header-left h2, #review-header-left h5 {
	margin: 0;
}

#review-header-right {
	display: inline-block;
	width: 40%;
  text-align: right;
}

#review-header-right img {
	max-height: 330px;
}


#pageReview #review-text {
	width: 700px;
	margin: 0 auto;
	line-height: 33px;
	font-size: 1.1em;
	color: rgba(0, 0, 0, 0.85);
}

#pageEpisodes {
	font-family: 'Josefin Slab', serif;
}

#listen-links {
	background-color: #353535;
	padding: 30px;
	border-bottom: 3px solid #ff5500;
	text-align: center;
	position: fixed;
	width: 100%;
	min-width: 700px;
	top: 0;
}

#listen-links a {
	transition: color 0.7s ease;
	text-decoration: none;
	margin: 0 20px;
	font-size: 20px;
	letter-spacing: 3px;
	color: #e0e0d8;
}

#listen-links a:hover {
	color: #ff5500;
}

#soundcloud-player {
	margin-top: 80px;
}

#soundcloud-close {
	text-align: center;
}

#soundcloud-close span {
	background: #d64d4d;
	padding: 1px 10px;
	font-size: 14px;
	color: #fde6e6;
	letter-spacing: 3px;
	border-radius: 3px;
	cursor: pointer;
}

#episode-list {
	padding: 20px;
	width: 67%;
	min-width: 650px;
	margin-top: 20px;
	margin-left: 5%;
	display: inline-block;
}

.episode {
	margin-bottom: 20px;
}

.episode-bookcover {
	height: 300px;
}

.episode-topline {
    font-size: 30px;
}

.episode-topline a {
    text-decoration: none;
    color: black;
}

.play-button {
		transition: color 0.7s ease;
		padding: 10px;
		cursor: pointer;
}

.play-button:hover {
    color: #ff5500;
}

.episode-info {
	display: inline-block;
	vertical-align: top;
	margin-left: 6%;
	text-align: left;
	margin-top: 60px;
	width: 60%;
}

.episode-title {
  margin-top: 20px;
  font-size: 20px;
  letter-spacing: 1px;
	line-height: 28px;
}

#aside-list {
	display: inline-block;
  top: 83px;
	right: 0;
  width: 20%;
	height: 100vh;
	position: fixed;
  vertical-align: top;
  padding-left: 15px;
  font-size: 14px;
  background: #f4f3ff;
  padding: 20px;
  -webkit-box-shadow: 4px 1px 15px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 1px 15px 3px rgba(0,0,0,0.75);
  box-shadow: 4px 1px 15px 3px rgba(0,0,0,0.75);
}

#aside-header {
    text-align: center;
    font-size: 24px;
    text-decoration: underline;
    margin-bottom: 30px;
}

#aside-list .aside {
  margin-bottom: 20px;
	font-family: Lora;
}

#aside-list .aside div {
	transition: color 0.7s ease;
	font-size: 17px;
	letter-spacing: 1px;
	cursor: pointer;
}

#aside-list .aside div:hover {
	color: #ff5500;
}

#single-episode {
	font-family: 'Josefin Slab', serif;
}

#single-episode-info {
    width: 40%;
		padding: 3% 3% 0 6%;
    margin-right: 8%;
    display: inline-block;
    vertical-align: top;
    font-size: 44px;
}

#single-episode-number {
    text-decoration: underline;
    margin-bottom: 30px;
}

#single-episode-hosts {
    margin-top: 30px;
    font-size: 20px;
}

#single-episode img.shadow {
	width: 33%;
	margin-top: 3%;
	margin-bottom: 100px;
}

.shadow {
	-webkit-box-shadow: 7px 7px 21px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 7px 7px 21px -1px rgba(0,0,0,0.75);
	box-shadow: 7px 7px 21px -1px rgba(0,0,0,0.75);
}

.center {
	text-align: center;
}

/* when hiding the picture */
.ng-hide-add         { animation:0.5s lightSpeedOut ease; }

/* when showing the picture */
.ng-hide-remove      { animation:1s flipInY ease; }


/* ANIMATIONS (FROM ANIMATE.CSS) ======================== */
/* flip in */
@keyframes flipInY {
  0% {
		transform: perspective(400px) rotateY(90deg);
		opacity: 0;
  }

  100% {
		transform: perspective(400px) rotateY(0deg);
		opacity: 1;
  }
}

/* light speed out */
@keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }

  100% {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}
