body {
	margin: 0;
	font-family: Lora;
}


/* Atomic Class */
/* ************************************************************************** */
.page {
	padding-bottom: 80px;
}

.red-hov {
	transition: color 1s ease;
	color: black;
}

.red-hov:hover {
	color: #a60000;;
}

.center {
	text-align: center;
}

.pointer {
	cursor: pointer;
}

.shadow {
	-webkit-box-shadow: 7px 7px 21px 5px rgba(0,0,0,0.75);
	-moz-box-shadow: 7px 7px 21px 5px rgba(0,0,0,0.75);
	box-shadow: 7px 7px 21px 5px rgba(0,0,0,0.75);
}
/* ************************************************************************** */


/* Navbar */
/* ************************************************************************** */
#navbar {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 5;
	background-color: #353535;
	color: white;
	width: 100%;
	font-family: 'Josefin Slab', serif;
	padding: 15px 0;
	font-size: 20px;
  letter-spacing: 1px;
}

#navbar a {
	text-decoration: none;
	color: #f0eeee;
}

#navbar-left {
	display: inline-block;
	margin-left: 20px;
}

#navbar-right {
	display: inline-block;
	float: right;
	margin-right: 20px;
}

#navbar-right a {
	padding: 0 12px;
}
/* ************************************************************************** */


/* Typewriter */
/* ************************************************************************** */
#banner {
	width: 100%;
	z-index: -1;
	background-image: url('images/banner_copy.jpg');
	font-family: 'Josefin Slab', serif;
}

.typewriter {
	width: 100%;
}

.typewriter h1 {
	transition: text-align 3 ease-out;
	text-align: center;
	overflow: hidden;
	border-right: .15em solid black;
	white-space: nowrap;
	margin: 0 0;
	letter-spacing: .1em;
	font-weight: 100;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 13px;
	background-color: rgba(255, 255, 255, 0.60);
	font-size: 4.5em;
  animation:
    typing 7.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
/* ************************************************************************** */


/* Home Page */
/* ************************************************************************** */
#page-home {
	text-align: center;
}

#bookshelf {
	text-align: center;
	vertical-align: bottom;
	margin-top: 60px;
}

#bookshelf div {
	padding-bottom: 20px;
	display: inline-block;
	margin-left: -5px;
}

.book-cover {
	height: 360px;
	cursor: pointer;
	z-index: 1;
}

.book-cover.shadow {
	z-index: 2;
	position: relative;
}

.book-info {
	margin-top: 20px;
}

.book-option {
	padding: 10px;
	font-size: 24px;
	letter-spacing: 1px;
	cursor: pointer;
	display: inline-block;
	color: black;
}

#featured-review {
	background: rgba(216, 216, 216, 0.93);
	padding: 20px;
	margin: 80px 0;
}

#featured-review hr {
	visibility: hidden;
}

#featured-info {
	display: inline-block;
	vertical-align: top;
}

#featured-title {
	font-size: 34px;
  font-family: 'Josefin Slab';
  padding: 20px;
  background: rgb(255, 255, 255);
  display: inline-block;
  cursor: pointer;
}

#featured-teaser {
	display: inline-block;
	width: 50%;
	text-align: left;
	vertical-align: top;
	line-height: 33px;
	padding: 30px;
	background: rgba(255, 255, 255, 0.65);
}

#featured-teaser a {
	padding: 0 10px;
}

#featured-review img {
	width: 30%;
	margin-right: 5%;
}

#upcoming img {
  height: 400px;
	margin: 40px;
}

#upcoming-banner {
  font-size: 30px;
  font-family: 'Josefin Slab';
	text-decoration: underline;
}
/* ************************************************************************** */


/* Review Page */
/* ************************************************************************** */
#page-review {
	background: #f8f8f8;
}

#percentage {
	position: fixed;
	right: 10px;
	top: 10px;
	font-size: 20px;
	letter-spacing: 2px;
	font-weight: bold;
}

#review-header {
	margin: 40px;
	background: white;
	padding: 20px;
	font-family: 'Josefin Slab', serif;
	letter-spacing: 2px;
}

#review-header-left {
	display: inline-block;
	vertical-align: top;
	width: 40%;
	padding-left: 10%;
	padding-top: 120px;
	font-size: 2em;
}

#review-header-left h2, #review-header-left h5 {
	margin: 0;
}

#review-header-right {
	display: inline-block;
	width: 40%;
  text-align: right;
}

#review-header-right img {
	max-height: 330px;
}

#review-text {
	width: 700px;
	margin: 0 auto;
	line-height: 33px;
	font-size: 1.1em;
	color: rgba(0, 0, 0, 0.85);
}
/* ************************************************************************** */


/* Podcasts Page */
/* ************************************************************************** */
#page-episodes-image {
  position: fixed;
  z-index: -1;
  width: 100%;
  opacity: 0.2;
}

#page-episodes {
	font-family: 'Josefin Slab', serif;
  /*background-image: url(./images/episode_page.jpg);
  background-size: cover;
  background-attachment: fixed;*/
  text-align: center;
  width: 100%;
}

#listen-links {
	background-color: #353535;
	padding: 30px;
	border-bottom: 3px solid #ff5500;
	text-align: center;
	position: fixed;
	width: 100%;
	min-width: 700px;
	top: 0;
}

#listen-links a {
	transition: color 0.7s ease;
	text-decoration: none;
	margin: 0 20px;
	font-size: 20px;
	letter-spacing: 3px;
	color: #e0e0d8;
}

#listen-links a:hover {
	color: #ff5500;
}

#soundcloud-player {
	margin-top: 80px;
}

#soundcloud-close {
	text-align: center;
}

#soundcloud-close span {
	background: #d64d4d;
	padding: 1px 10px;
	font-size: 14px;
	color: #fde6e6;
	letter-spacing: 3px;
	border-radius: 3px;
	cursor: pointer;
}

#episode-list {
	width: 80%;
	min-width: 650px;
	margin-top: 20px;
	display: inline-block;
}

.white-highlight {
	padding: 10px;
	background: white;
}

.episode {
	margin-bottom: 20px;
}

.episode-bookcover {
	height: 300px;
}

.episode-topline {
	font-size: 2em;
	display: inline-block;
}

.episode-topline a {
    text-decoration: none;
    color: black;
}

.play-button {
		transition: color 0.7s ease;
		padding-right: 10px;
		cursor: pointer;
}

.play-button:hover {
    color: #ff5500;
}

.episode-info {
	display: inline-block;
	vertical-align: top;
	margin-left: 3%;
	text-align: left;
	padding: 30px;
	/*background: rgba(255, 255, 255, 0.71);*/
	width: 60%;
}

.episode-title {
  margin-top: 20px;
  font-size: 2em;
  letter-spacing: 1px;
	line-height: 40px;
}

.episode-hosts {
    margin-top: 20px;
		font-size: 1em;
		font-family: Lora;
		display: inline-block;
}
/* ************************************************************************** */


/* Single Podcast Page */
/* ************************************************************************** */
#single-episode {
	font-family: 'Josefin Slab', serif;
}

#single-episode-info {
  width: 40%;
	padding: 3% 3% 0 6%;
  margin-right: 8%;
  display: inline-block;
  vertical-align: top;
  font-size: 44px;
}

#single-episode-number {
  text-decoration: underline;
  margin-bottom: 30px;
}

#single-episode-hosts {
  margin-top: 30px;
  font-size: 20px;
}

#single-episode img.shadow {
	width: 33%;
	margin-top: 3%;
	margin-bottom: 100px;
}

#single-episode-further-reading li {
	font-size: 15px;
	font-family: Lora;
	padding: 10px;
}
/* ************************************************************************** */


/* About Page */
/* ************************************************************************** */
#about-page {
	width: 50%;
	margin: 0 auto;
}

#about-page img {
	position: fixed;
	z-index: -1;
	width: 100%;
	top: 0;
	left: 0;
}

.about-name {
	background: rgba(149, 166, 255, 0.77);
	padding: 10px;
	font-size: 30px;
	text-align: center;
	font-family: 'Josefin Slab';
	letter-spacing: 6px;
	margin-top: 20px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: 3px solid white;
}

.about-desc {
	background: rgba(255, 255, 255, 0.71);
	margin-bottom: 40px;
	padding: 20px;
	line-height: 32px;
}


/* Angular Class Animations */
/* ************************************************************************** */
/*.ng-hide-add {
	animation: 0.5s lightSpeedOut ease;
}

.ng-hide-remove {
	animation: 1s flipInY ease;
}*/
/* ************************************************************************** */


/* CSS Animations */
/* ************************************************************************** */

/* flip in */
@keyframes flipInY {
  0% {
		transform: perspective(400px) rotateY(90deg);
		opacity: 0;
  }

  100% {
		transform: perspective(400px) rotateY(0deg);
		opacity: 1;
  }
}

/* light speed out */
@keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }

  100% {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}
